/*///////////////////////////////////////////////////////// GENERAL /////////////////////////////////////////////////////////*/
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*///////////////////////////////////////////////////////// KEYWORDS /////////////////////////////////////////////////////////*/
.w3ba11y__section--keyword * {
  padding: 0;
  margin: 0;
}

/*///////////////////////////////////////////////////////// GENERAL /////////////////////////////////////////////////////////*/
html {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
button {
  border: none;
  background-color: transparent;
}

aside,
main {
  height: 100%;
  overflow-x: hidden;
}

aside {
  display: flex;
  flex-direction: column;
  width: max(25%, 30rem);
  overflow-y: auto;
  background-color: #d0cee5;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

main {
  width: calc(100% - max(25%, 10rem));
  overflow-y: hidden;
  contain: layout;
}

pre {
  color: black;
}

.full {
  width: 100%;
  height: 100%;
}

.code-block {
  max-width: 28rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow-x: auto;
  white-space: normal;
}

.visually-hidden {
  position: absolute;
  width: 0.063em;
  height: 0.063em;
  margin: -0.063em;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
.centralize {
  margin: auto !important;
} 
.warning-message-container {
  padding: .5rem;
  font-size: 13px;
}
.warning-message-container * {
  padding: 0;
  margin: 0;
}
.warning-message-list {
  list-style-type: none;
}
.warning-message-list__item {
  display: inline-flex;
  align-items: center;
  gap: .3rem;
  flex-wrap: nowrap;
  text-align: justify;
  margin: .3rem 0;
}
.warning-message-icon {
  color: rgb(218, 145, 19);
  flex: none;
  width: 1.5rem;
  height: 1.5rem;
}

.w3ba11y__logo {
  width: 80px;
}
.w3ba11y__header {
  background-color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.w3ba11y__sidebar-actions {
  display: flex;
  margin-left: auto;
}
.w3ba11y__settings-button,
.w3ba11y__close-button {
  position: relative;
  display: flex;
  margin: 0 .3rem;
  padding: .3rem;
}
.w3ba11y__settings-icon,
.w3ba11y__close-icon {
  color: #565252;
  width: 2rem;
  height: 2rem;
}

.w3ba11y__body {
  flex: 1 0 auto;
}

.w3ba11y__section {
  display: none;
  flex-direction: column;
  gap: 0;
}
.w3ba11y__section--active {
  display: flex;
}
.section__header {
  text-align: center;
}
.section__title {
  text-align: center;
}
.section__body {
  background-color: #f2f1ff;
}
.section__button {
  width: calc(100% - 1.5rem);
  margin: .75rem;
  padding: 1rem 0;
  background-color: #f2f1ff;
  text-align: center;
}
.section__button--back {
  position: relative;
  width: 10%;
  margin: 0;
  background-color: #f2f1ff;
}

.header__tabs {
  display: flex;
}
.tab__button {
  padding: 1rem 0;
  width: 45%;
  background-color: #d0cee5;
}
.tab__button--active {
  background-color: #f2f1ff;
}
.button__title {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
.tab {
  display: none;
  padding: .75rem;
}
.tab--active {
  display: block;
}
.w3ba11y__footer {
  background-color: #fff;
  text-align: center;
  padding: .5rem;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}
.footer__text {
  font-size: .8rem;
}



/*///////////////////////////////////////////////////////// IMAGES /////////////////////////////////////////////////////////*/
.filter__button {
  margin-left: auto;
}

.ri-arrow-drop-down-line {
  font-size: 36px;
  border-left: 1px solid #f2f1ff;
}
.ri-arrow-drop-down-line--rotate {
  rotate: 180deg;
  border-left: none;
  border-right: 1px solid #f2f1ff;
}
.ri-eye-fill,
.ri-eye-off-fill,
.ri-filter-fill,
.ri-filter-off-fill,
.ri-arrow-go-back-line {
  font-size: 18px;
}
.ri-delete-bin-line {
  font-size: 20px;
  color: rgb(218, 19, 19);

}

.tag-img {
  margin: .75rem;
}
.tag-img__header {
  display: flex;
  padding: .5rem 0 .5rem .75rem;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.tag-img__img {
  width: 20%;
  height: auto;
  border: 1px solid black;
}
.tag-img__status {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: .25rem;
}
.info__status,
.hlist {
  display: flex;
  list-style: none;
  align-items: center;
}
.tag-img__body {
  display: none;
}
.more {
  display: block;
  padding: .5rem .75rem;
  margin-top: .25rem;
  background-color: #ffffff;
}
.tag-img__data {
  padding: 0;
  margin: 0;
}
.tag-img__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.5rem;
  margin: 0 .5rem;
  border-bottom: 1px solid #f2f1ff;
}
.status {
  display: block;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 100%;
  margin-right: .75rem;
}
.status--correct {
  background-color: rgb(37, 186, 92);
}
.status--warning {
  background-color: rgb(218, 145, 19);
}
.status--error {
  background-color: rgb(218, 19, 19);
}
.status--current {
  border: 2px solid black;
}


.tag-img__form {
  padding: .75rem;
  background-color: #ffffff;
  margin: .75rem 0;
  border-radius: 4px;
}


.form__status-bar {
  display: flex;
  justify-content: space-around;
}

.form__label {
  display: block;
  margin-bottom: .5rem;
  font-weight: bold;
}

.form__input--text {
  width: calc(100% - 1rem);
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__input--submit {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #f2f1ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form__input--submit:hover {
  background-color: #d0cee5;
}


.pagination__button {
  border: 1px solid #d0cee5;
  padding: .5rem;
  margin: .5rem;
  border-radius: 2px;
}

.pagination__button--active {
  border: 1px solid #d0cee5;
  background-color: #d0cee5;
}




/*///////////////////////////////////////////////////////// HEADINGS /////////////////////////////////////////////////////////*/
.tag-h {
  position: relative;
  padding-left: 20px;
  gap: 0.25rem;
}

.tag-h::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: 2px solid #d0cee5;
}

.tag-h::after {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  width: 10px;
  border-top: 2px solid #d0cee5;
}

.tag-h--last::before {
  height: 15px;
}

.w3ba11y_hTag_2 {
  margin-left: 4%;
}
.w3ba11y_hTag_3 {
  margin-left: 8%;
}
.w3ba11y_hTag_4 {
  margin-left: 12%;
}
.w3ba11y_hTag_5 {
  margin-left: 16%;
}
.w3ba11y_hTag_6 {
  margin-left: 20%;
}



/*///////////////////////////////////////////////////////// KEYWORDS /////////////////////////////////////////////////////////*/
.keywords--visible {
  visibility: visible !important;
}

.keywords--not-visible {
  visibility: hidden !important;
}

.keywords__icon--large {
  width: 1.8em;
  height: 1.8em;
}

.keywords__icon--medium {
  width: 1.5em;
  height: 1.5em;
}

.keywords__icon--small {
  width: 1.2em;
  height: 1.2em;
}

.keywords__icon--micro {
  width: 1em;
  height: 1em;
}

.keywords__icon--middle-align {
  vertical-align: middle;
}

.keywords__icon--delete {
  color: #c40a0a;
}

.keyword-name {
  text-transform: capitalize;
  overflow-wrap: break-word;
  word-break: break-word;
}

.w3ba11y__section--keyword .section__header {
  padding: 0 0.5rem;
}

.keywords__main-title-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.w3ba11y__section--keyword .section__title {
  margin-top: 0.83em;
}

.keywords__button--refresh {
  position: relative;
  background-color: rgba(235, 159, 197, 0.4);
  color: rgb(175, 11, 204);
  padding: 0.4em;
  margin-left: auto;
  margin-right: 0.5em;
  border-radius: 6px;
  border: 2px solid rgb(175, 11, 204);
}

.w3ba11y__section--keyword .header__tabs {
  margin-top: 0.5em;
}

.w3ba11y__section--keyword .section__button--back {
  background-color: #fff;
  width: auto;
  padding: 0.6em;
  border-top-left-radius: 10px;
  z-index: 2;
}

.keywords__section {
  display: none;
}

.keywords__section--active {
  display: block;
}

.keywords__section__button--back {
  position: relative;
  background-color: #fff;
  width: auto;
  padding: 0.6em;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 2;
}

.w3ba11y__section--keyword .tab__button {
  width: 100%;
}

.w3ba11y__section--keyword .tab__button--settings {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.3em;
} 

.w3ba11y__section--keyword .tab__button--active {
  background-color: #fff;
}

.w3ba11y__section--keyword .section__body {
  background-color: transparent;
  padding: 0 0.5rem;
}

.keywords__overview-container {
  background-color: #fff;
  padding: 0.3em;
  border-radius: 0.625em;
  border-top-left-radius: 0;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

.keywords__overview-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  list-style-type: none;
}

.keywords__overview-item {
  flex: 1 0 calc(50% - 0.5rem);
  display: flex;
  gap: 0.4em;
  min-width: fit-content;
  margin: 0.5em 0;
}

.keywords__overview-item-icon {
  background-color: rgba(235, 159, 197, 0.4);
  color: #af0bcc;
  padding: 0.3em;
  border-radius: 8px;
  box-sizing: content-box;
}

.keywords__overview-icon--warning {
  background-color: transparent;
  color: rgb(218, 145, 19);
  padding: 0;
  box-sizing: content-box;
}

.keywords__overview-item__info-container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  width: 100%;
}

.keywords__overview-item-header {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.keywords__overview-item-title {
  font-size: 0.875rem;
}

.keywords__overview-item-body__text {
  font-size: 0.7rem;
  font-weight: 500;
}

.keywords__settings-container {
  background-color: #fff;
  padding: 0.5em;
  border-radius: 0.625em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

.keywords__settings-title {
  font-size: 1.2rem;
}

.keywords__settings-item__title-container {
  display: flex;
  column-gap: 0.3em;
  margin-top: 0.8em;
}

.keywords__settings-item__title {
  font-size: 1rem;
  text-transform: capitalize;
}

.keywords__tag-color-options {
  list-style-type: none;
}

.keywords__tag-color-options__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0; 
}

.keywords__color-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  text-align: center;
  padding: 0.2em;
}

.keywords__color-selector__label {
  font-size: 0.8rem;
}

.keywords__color-selector__input {
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid #79747a;
}

.keywords__tooltip-container {
  flex: 1 1 auto;
  position: relative;
  display: flex;
}

.keywords__tooltip-trigger {
  display: flex;
  align-items: center;
}

.keywords__tooltip-icon {
  color: #474747;
  width: 16px;
  height: 16px;
}

.keywords__tooltip-text {
  font-size: 0.7em;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 20px;
  left: -75px;
  max-width: 250px;
  min-width: 104px;
  width: 100%;
  text-align: center;
  padding: 0.4em;
  border-radius: 6px;
  z-index: 1;
}

.keywords__tooltip-text::before {
  position: absolute;
  top: -7px;
  left: 75px;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #000;
}

.keywords__input-container {
  margin: 1em 0;
}

.keywords__analyze-box {
  display: flex;
  justify-content: center;
  column-gap: 0.8em;
  flex-wrap: nowrap;
  margin-top: 0.3em;
}

.keywords__input-wrapper {
  background-color: #fff;
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
  padding: 0.625em;
  border-radius: 6px;
  border: 1px solid #9f9f9f;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

.keywords__input-wrapper__prefix {
  color: #5f5f5f;
  margin-right: 0.5em;
}

.keywords__input-wrapper__field {
  background-color: transparent;
  flex: 1;
  min-width: 0;
  border: none;
  outline: none;
}

.keywords__analyze-button {
  background-color: #af0bcc;
  color: #fff;
  padding: 0.5em 1.2em;
  border-radius: 10px;
}

.keywords__highlight-box {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

.keywords__highlight-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding: 0.1em;
  border-radius: 6px;
  border: 3px solid rgb(30, 48, 90);
  overflow: hidden;
  transition: .2s ease-out;
}

.keywords__highlight-input::before {
  content: "";
  background-color: #fff;
  width: 0.5rem;
  height: 0.5rem;
  clip-path: polygon(22% 55%, 35% 68%, 43% 76%, 78% 34%, 70% 26%, 43% 62%, 30% 50%);
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.keywords__highlight-input:checked {
  background-color: rgb(30, 48, 90);
}

.keywords__highlight-input:checked::before {
  transform: scale(2);
}

.keyword-list__container {
  margin: 1.5em 0;
}

.keywords__filters-container {
  display: flex;
  column-gap: 0.5em;
  margin-top: 0.5em;
}

.keywords__sort-container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.5em;
}

.keywords__sort-button {
  position: relative;
  background-color: rgba(235, 159, 197, 0.4);
  color: rgb(175, 11, 204);
  padding: 0.5em;
  border-radius: 6px;
  border: 2px solid rgb(175, 11, 204);
}

.keywords__sort-button--active {
  background-color: rgb(175, 11, 204);
  color: #fff;
}

.keywords__remove-filters {
  position: relative;
  color: #000;
} 

.keyword-list {
  list-style-type: none;
  margin: 0.3em 0;
}

.keyword-list-item {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 0.625em;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

.keyword-item__title {
  font-size: 1em;
}

.keyword-item__actions {
  display: flex;
  margin-left: auto;
}

.keyword-item__actions__button {
  position: relative;
  margin: 0 0.3em;
  padding: 0.4em;
}

.keyword-button--highlight--active {
  background-color: rgb(175, 11, 204);
  color: #fff;
  border-radius: 5px;
}

.keywords__pagination {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  row-gap: 0.2em;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0.3em 0;
}

.keywords__pagination__button {
  background-color: rgba(235, 159, 197, 0.4);
  padding: 0.5em;
  vertical-align: middle;
  border: 2px solid #af0bcc;
}

.keywords__pagination__button--active {
  background-color: #af0bcc;
  color: #fff;
}

.keywords__analysis-container {
  background-color: #fff;
  padding: 0.5em;
  margin-bottom: 1.5em;
  border-radius: 0.625em;
  border-top-left-radius: 0;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

.keywords__analysis-item {
  display: flex;
  align-items: baseline;
  column-gap: 2em;
  row-gap: 0.5em;
  flex-wrap: wrap;
  margin: 1em 0;
}

.keywords__analysis-item__action-container {
  display: flex;
  column-gap: 1.5em;
  align-items: center;
  flex-wrap: nowrap;
}

.keywords__analysis-item__button {
  position: relative;
  padding: 0.4em;
  border: none;
}

.keywords_tag-occurrences-list {
  list-style-type: none;
  width: 100%;
}

.keywords_tag-occurrences-item {
  min-height: 2.5em;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  border: 1px solid #cfcfcf;
  border-bottom: none;
}

.keywords_tag-occurrences-item:last-child {
  border-bottom: 1px solid #cfcfcf;
}

.keywords_tag-occurrences-item__title {
  flex: 1;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 0 0.5em;
}

.keywords_tag-occurrences-item__content {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 0.5em;
  border-left: 1px solid #cfcfcf;
}

.keyword-occurrences-icon--warning {
  color: rgb(218, 145, 19);
}
